:root {
    --font-size: 10px;
    --font-color: #000;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    --max-size: 100%;
}

/* sizes */
.max-size {
    width: var(--max-size);
    height: var(--max-size);
}
.max-width {
    width: var(--max-size);
}

/* display */
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.grid {
    display: grid;
}
.d-x-left {
    justify-content: left;
}
.d-x-right {
    justify-content: right;
}
.d-x-center {
    justify-content: center;
}
.d-x-between {
    justify-content: space-between;
}
.d-y-center {
    align-items: center;
}
.d-left {
    align-items: center;
    justify-content: left;
}
.d-right {
    align-items: center;
    justify-content: right;
}
.d-center {
    align-items: center;
    justify-content: center;
}
.d-between {
    align-items: center;
    justify-content: space-between;
}

/* position */
.fixed {
    position: fixed;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.p-left {
    top: 0;
    left: 0;
}
p.right {
    top: 0;
    right: 0;
}

/* z-index */
.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.z-3{
    z-index: 3;
}
.z-4{
    z-index: 4;
}

/* margin and padding */
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mr-0 {
    margin-right: 0;
}
.mb-0 {
    margin-bottom: 0;
}
.ml-0 {
    margin-left: 0;
}
.p-0 {
    padding: 0;
}
.pt-0 {
    padding-top: 0;
}
.pr-0 {
    padding-right: 0;
}
.pb-0 {
    padding-bottom: 0;
}
.pl-0 {
    padding-left: 0;
}

/* font */

/* border */
.b-0 {
    border: none;
}
.bt-0 {
    border-top: none;
}
.br-0 {
    border-right: none;
}
.bb-0 {
    border-bottom: none;
}
.bl-0 {
    border-left: none;
}